<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Dependent spring bean config -->
    <bean id = "ltime" class = "java.time.LocalTime" factory-method="now"/>
    <bean id = "ldate" class = "java.time.LocalDate" factory-method="now"/>
    
    <bean id = "ltime1" class = "java.time.LocalTime" factory-method="of">
    	<constructor-arg value ="11"/>
    	<constructor-arg value ="20"/>
    </bean>
    
    <bean id = "ldate1" class = "java.time.LocalDate" factory-method="of">
    	<constructor-arg value = "2020"/>
    	<constructor-arg value = "12"/>
    	<constructor-arg value = "13"/>
    </bean>
    <!-- Dependent spring bean config -->
    <bean id = "wmg" class = "com.hasnat.sbeans.WishMassageGenerator" >
    
    
    <!-- Target Spring config -->
    <property name="lt" ref= "ltime1"/>
    <property name="ld" ref= "ldate1"/>
    <constructor-arg name="lt" ref= "ltime"/><!-- if we will pass one constructor one parameterized constructor will be invoked -->
    <constructor-arg name="ld" ref= "ldate"/><!-- if we will pass two constructor two parameterized constructor will be invoked -->
    </bean>

</beans>